body {
  padding-left: 300px;
}

h1.row {
  padding-bottom: 15px;
}

table {
  width: 100%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

.row.project-name {
  margin-bottom: 15px;
}

.row.environments-header, .row.links-header {
  margin-top: 15px;
}

.environments-header h2, .links-header h2 {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.sidebar {
  background-color: #F5F5F5;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  overflow: visible;
  border-right: solid 1px #CCC;
}

.sidebar button {
  width: 100%;

}

.content-frame {
  padding-top: 10px;
  margin-left: 0;
}

.link {
  color: #008CBA;

  cursor: pointer;
}

.link:hover {
  color: #0078A0;
  text-decoration: underline;
}

.projects {
  list-style: none;
  margin: 0;
  border-top: solid 1px #999;
  padding-top: 15px;
}

.project-link {
  display: block;
  padding: 10px;
  margin: 15px 0;
  color: #555;
  border: solid 1px #CCC;
  background-color: #EEE;

  position: relative;

}

.project-link.active {
  color: #222;
  background-color: #FFF;
  border-color: #999;

}

.project-link:hover {
  color: #555;
  border-color: #999;
}

.delete-project-link {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  line-height: 100%;
  display: none;
  color: #999;
  font-size: 18px;
}

.delete-project-link:hover {
  color: #000;

}

.project-link:hover .delete-project-link {
  display: block;
}

.close-link.close-modal {
  font-size: 2.5rem;
  line-height: 1;
  position: absolute;
  top: 0.625rem;
  right: 1.375rem;
  color: #AAAAAA;
  font-weight: bold;
  cursor: pointer;
}

.close-link.close-modal:hover {
  color: #555;
}

.drag-header {
  width: 16px;
}

.ui-draggable-handle {
  cursor: move;
}

.ui-sortable-helper {
  box-shadow: 0 0 2px #000;
}

.environment-buttons .button {
  margin-right: 10px;
}

.reveal-modal.tiny {
  width: 500px;
}

.button.small {
  font-size: 16px;
}

.button.tiny {
  font-size: 14px;
}
