body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 3px;
}

button {
    border-style: none;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.35em 0.75em;
    cursor: pointer;
    background-color: transparent;
}

button:hover {
    background-color: #eee;
}
button:active {
    background-color: #ccc;
    transition: background-color 0.25s;
}

button:focus-visible {
    outline: solid 2px #0986ab;
    outline-offset: -2px;
}

li.active button {
    background-color: #a4e6f1;
}

.options {
    border-top: solid 1px #ccc;
}
